@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* 
    Bold 700
    SemiBold 600
    ExtraBold 800
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

body{
    font-family: "Manrope", sans-serif;
    color: #959595;      
    background-color: #202020;
    font-weight: 600;
    line-height: 1.5;
    font-size: 20px;
    letter-spacing: -0.5px;
}

a{
    color: #DEDEDE;
    text-decoration: none;
    transition: opacity 0.3s;
}

a:hover{
    opacity: 0.6;
}

.container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(50, 50, 50, 0.7);
    backdrop-filter: blur(10px);
    padding: 20px 0;
    z-index: 1000;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 11px;
}

.header__nav {
    display: flex;
    gap: 60px;
}

.header__link {
    font-weight: 700;
    font-size: 18px;
}

.welcom {
    margin-top: 160px;

}

.welcom .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcom__title {
    width: 500px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 54px;
    line-height: 1.19;
    color: #DEDEDE;
}

.welcom__text {
    width: 395px;
    margin-bottom: 88px;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    padding: 16px 48px;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #9D9D9D;
    border-radius: 4px;
}

.btn::before{
    content: "";
    background-image: url("/images/mail.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 21px;
    height: 16px;
}

.welcom__img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 129px;
    margin-right: 105px;
}

.works {
    margin-top: 145px;
}

.works__btn {
    display: inline-flex;
    align-items: center;
    gap: 26px;
    margin-bottom: 80px;
    background-color: transparent;
    border: none;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #DEDEDE;
    opacity: 0.7;
    cursor: pointer;
}

.works__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    padding-top: 138px;
}

.work {
    position: relative;
    height: 888px;
}

.work:nth-child(odd){
    position: relative;
    margin-top: -138px;
}

.work:hover{
    opacity: 1;
}

.work__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.work__name {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s;
}

.work:hover .work__name{
    opacity: 1;
}

.projects {
    margin-top: 240px;

}

.title{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #DEDEDE;
}

.projects__title {
    margin-bottom: 65px;
}

.projects__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}

.projects__img {
    width: 380px;
    height: 380px;
    object-fit: cover;
    object-position: center;
}

.projects--vertical .projects__img{
    height: 560px;
}

.contact {
    margin-top: 240px;
    margin-bottom: 124px;
}

.contact .container {
    max-width: 521px;
    padding: 0;
    text-align: center;
}

.contact__title {
    margin-bottom: 24px;
}

.contact__text {    
    font-size: 26px;
    margin-bottom: 48px;
}

.footer {
    padding: 48px 0 36px;
    border-top: 1px solid #696969;
}

.footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__copy {
    font-size: 16px;
}

.footer__copy span{
    color: #ECECEC;
}

.socials {
    display: flex;
    gap: 43px;
}



@media (max-width: 1100px){
    .welcom__img{
        margin-right: 0;
    }
}

@media (max-width: 950px){
    .welcom .container{
        flex-direction: column-reverse;
    }
    .welcom__title{
        width: auto;
    }
    .welcom__text{
        width: auto;
    }

    .welcom__desc{
        text-align: center;
    }

    .works {
        margin-top: 128px;
    }

    .work{
        height: 600px;
    }

    .projects, .contact {
        margin-top: 116px;
    }
}

@media (max-width: 850px){
    .projects__img {
        width: 100%;
        height: 366px;
    }
}

@media (max-width: 780px){
    .works__wrapper{
        grid-template-columns: 1fr;
        padding-top: 0;
    }
    .work:nth-child(odd) {
        margin-top: 0;
    }
}

@media (max-width: 700px){
    .footer .container {
        flex-direction: column-reverse;
        gap: 35px;
    }
}

@media (max-width: 525px){
    .welcom__title {
        font-size: 36px;
    }

    .welcom__text{
        font-size: 18px;
        margin-bottom: 48px;
    }

    .welcom__img {
        width: 240px;
        height: 240px;
        margin-bottom: 64px;
    }

    .title {
        font-size: 28px;
    }


    .contact__text {
        font-size: 18px;
    }
}
