@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* 
    Bold 700
    SemiBold 600
    ExtraBold 800
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Manrope", sans-serif;
    color: #959595;      
    background-color: #202020;
    font-weight: 600;
    line-height: 1.5;
    font-size: 20px;
    letter-spacing: -0.5px;
}

a{
    color: #DEDEDE;
    text-decoration: none;
    transition: opacity 0.3s;
}

a:hover{
    opacity: 0.6;
}

.container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.header {
    background: rgba(50, 50, 50, 0.7);
    backdrop-filter: blur(10px);
    padding: 20px 0;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 11px;
}

.header__nav {
    display: flex;
    gap: 60px;
}

.header__link {
    font-weight: 700;
    font-size: 18px;
}


.main {

}

.welcom {
    margin-top: 160px;

}

.welcom .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcom__desc {

}

.welcom__title {
    width: 500px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 54px;
    line-height: 1.19;
    color: #DEDEDE;
}

.welcom__text {
    width: 395px;
    margin-bottom: 88px;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    padding: 16px 48px;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #9D9D9D;
    border-radius: 4px;
}

.btn::before{
    content: "";
    background-image: url("/images/mail.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 21px;
    height: 16px;
}

.welcom__btn {


}

.welcom__img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 129px;
    margin-right: 105px;
}
