@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Bold 700
   SemiBold 600
   ExtraBold 800
   */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Manrope", sans-serif;
    color: #959595;      
    background-color: #202020;
    font-weight: 600;
    line-height: 1.5;
    font-size: 20px;
    letter-spacing: -0.5px;
}

a{
    color: #DEDEDE;
    text-decoration: none;
}

.container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.header {
    background: rgba(50, 50, 50, 0.7);
    backdrop-filter: blur(10px);
    padding: 20px 0;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 11px;
}

.header__nav {
    display: flex;
    gap: 60px;
}

.header__link {
    font-weight: 700;
    font-size: 18px;
}